{% extends "basic.html" %}
{% block title %}
Register_page_Service_Provider
{% endblock %}
{% block content %}

<h1 class="text-center">Please Register your service</h1>
<h2 class="text-center">Register</h2>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}
<form class="registration-form" method ="POST" action="/register_Service_Provider" enctype="multipart/form-data" >
  <div class="form-control">
    <label for="Fullname">Fullname</label>
    <input type="text" class="form-control" id="Fullname" name="Fullname" required>
  </div>
  <div class="form-control">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" name="username" required>
  </div>
  <div class="form-control">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password" required>
  </div>
  <div class="form-control">
    <label for="service_name">Service</label>
    <input type="text" class="form-control" id="service_name" name="service_name" required>
  </div>
  <div class="form-control">
    <label for="experience">Experience (in years)</label>
    <input type="number" class="form-control" id="experiance" name="experience" required>
  </div>
  <div class="form-control">
    <label for="address">Address</label>
    <input type="text" class="form-control" id="address" name="address" required>
  </div>
  <div class="form-control">
    <label for="pincode">Pincode</label>
    <input type="text" class="form-control" id="pincode" name="pincode" required>
  </div>
  <div class="form-control">
    <label for="document">Upload Document</label>
    <input type="file" class="form-control" id="document" name="document" accept=".pdf, .doc, .docx" required>
  </div>
  <button type="submit" class="btn btn-primary btn-block">Register</button>
</form>
<style>
  .registration-form{
    background-color:#000000;
    padding:20px;
    border-radius:8px;
    max-width:500px;
    margin:0 auto;
  }
  .form-control{
    margin-bottom: 1
  5px;
  }
  label{
    background-color:#D3D3D3;
    padding:5px;
    border-radius:4px;
  }
  input{
    background-color:#C0C0C0
  }
</style>

{% endblock %}
